
@{
    ViewBag.Title = "KonutDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Emlak.Model.Entities;
@model Fotograf
<div class="row">
    <div class="col-md-6">
        <h1>
            <span aria-hidden="true" class="icon icon"></span>
            <span class="main-text">
                Konut Detayları
            </span>
        </h1>
    </div>
    <div class="col-md-6">

        <!-- START Main Buttons -->
        <div class="page-heading-controls">
            @*Sayfanın cıktısını almak icin*@
            <a onclick=window.print(); role="button" class="btn btn-primary">Yazdır</a>
            <a href="/Ilan/Index" role="button" class="btn btn-danger">Geri</a>
        </div>
        <!-- END Main Buttons -->

    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <!-- START Block: Order View -->
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">

                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div id="order-view-content" class="table-responsive">
                        <ul id="order-view-tabs" class="nav nav-tabs tabs-left">
                            <li class="active"><a href="#order-view-tabs-order-details" data-toggle="tab">Konut Bilgileri</a></li>
                            <li><a href="#order-view-tabs-payment" data-toggle="tab">Konut Sahibi Bilgileri</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="order-view-tabs-order-details" class="tab-pane active">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>

                                            <td class="col-md-3"></td>
                                            @*Resim gösterme formatı*@
                                            <td><img src="@String.Format("data:image/jpg;base64,{0}",Model.Base64String)" alt=" Kategori Resim" width="100" height="100" /></td>

                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Ilan Baslık:</td>
                                            <td class="col-md-9">@Model.Konut.Baslik</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Ilan Aciklama:</td>
                                            <td class="col-md-9">@Model.Konut.Aciklama</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Ilan Tur:</td>
                                            <td class="col-md-9">@Model.Konut.IlanTur.Ad</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Fiyat:</td>
                                            <td class="col-md-9">@Model.Konut.Fiyat</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Metrekare:</td>
                                            <td class="col-md-9">@Model.Konut.Metrekare</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Oda Sayisi:</td>
                                            <td class="col-md-9">@Model.Konut.OdaSayisi</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Kat:</td>
                                            <td class="col-md-9">@Model.Konut.Kat</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Bina Kat Sayisi:</td>
                                            <td class="col-md-9">@Model.Konut.BinaKat</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Bina Yas:</td>
                                            <td class="col-md-9">@Model.Konut.BinaYasi</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Adres:</td>
                                            <td class="col-md-9">@Model.Konut.Adres</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div id="order-view-tabs-payment" class="tab-pane active">
                                <table class="table table-hover">
                                    <tbody>

                                        <tr>
                                            <td class="col-md-3"> Ad:</td>
                                            <td class="col-md-9">@Model.Konut.Musteri.Ad</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Soyad:</td>
                                            <td class="col-md-9">@Model.Konut.Musteri.Soyad</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Telefon:</td>
                                            <td class="col-md-9">@Model.Konut.Musteri.CepTelefonu</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">Eposta:</td>
                                            <td class="col-md-9">@Model.Konut.Musteri.CepTelefonu</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Block: Order View -->

    </div>
</div>

